{% extends "base.html" %}
{% block content %}
<div class="col-lg-6 col-md-11 m-4">
    <form action="{{ url_for('accounts') }}?target={{ url_for('accounts_edit')}}" method="post" enctype="multipart/form-data">
        <div class="mb-4">
            <label for="passwordInput" class="form-label">Current Password</label>
            <input id="passwordInput" class="form-control" type="password" name="password" required/>
        </div>
        <div class="mb-4">
            <label for="newPassword1Input" class="form-label">New Password</label>
            <input id="newPassword1Input" class="form-control" type="password" name="new_password1" required/>
        </div>
        <div class="mb-4">
            <label for="newPassword2Input" class="form-label">Confirm New Password</label>
            <input id="newPassword2Input" class="form-control" type="password" name="new_password2" required/>
        </div>
        <div class="mb-4">
            <input class="btn btn-primary" type="submit" name="update_password" value="submit"/>
        </div>
        <input type="hidden" name="operation" value="update_password"/>
    </form>

    <a href="{{ url_for('accounts_edit') }}">Edit Account</a>
</div>
{% endblock %}