{% extends "login_base.html" %} {% block content %}
<div class="border rounded-4 p-4 d-flex justify-content-center">
    <div class="row justify-content-center">
        <div class="col">
            <form action="{{ url_for('accounts') }}?target={{ url_for('show_index')}}" method="post" enctype="multipart/form-data">
                <div class="mb-4">
                    <label for="usernameInput" class="form-label">Username</label>
                    <input id="usernameInput" type="text" name="username" class="form-control" required/>
                </div>
                <div class="mb-4">
                    <label for="passwordInput" class="form-label">Password</label>
                    <input id="passwordInput" type="password" name="password" class="form-control" required/>
                </div>
                <div class="mb-4">
                    <input type="submit" value="Login" class="btn btn-primary"/>
                    <input type="hidden" name="operation" value="login"/>
                </div>
            </form>
            <div class="mb-4">
                <span>Don't have an account?</span>
                <a href="{{ url_for('accounts_create') }}">Create Account</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}